---
---

@import "{{ site.theme }}";

#main_content{padding-bottom:60px}
p{font-size:1.2rem;}
blockquote{margin:20px 0;}
blockquote p{font-size:1.4rem;}
h1{margin-bottom:30px;}
hr{padding:20px 0;}

footer p{font-size:1rem;}
a, footer a{color:#00BCD4;}
a:hover, a:active, footer a:hover, footer a:active{color:#00ACC1;}


.flex-container{display: flex;}
.logo-box{padding:20px 0 10px 0;text-align:center;}
.logo-box img{width:60px;border:none;-webkit-box-shadow:none;box-shadow:none;}

.w-100{width:100%;}