---
---

@import "{{ site.theme }}";

#main_content{padding-bottom:60px}
p{font-size:1.2rem;}
blockquote{margin:20px 0;}
blockquote p{font-size:1.4rem;}
h1{margin-bottom:30px;}
hr{padding:20px 0;}

footer p{font-size:1rem;}